<%= form_for(@comercio) do |f| %>
    <% if @comercio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comercio.errors.count, "error") %> prohibited this regform from being saved:</h2>

          <ul>
            <% @comercio.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :region_id %><br />
      <%= f.collection_select :region_id, Region.all, :id, :nombre, :prompt => 'Select Region' %>
    </div>
    <div class="field">
      <%= f.label :ciudad_id %><br />
      <%= f.collection_select :ciudad_id, Ciudad.all, :id, :nombre, :prompt => 'Select Ciudad' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
