<h1>Listing recintos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recintos.each do |recinto| %>
  <tr>
    <td><%= recinto.nombre %></td>
    <td><%= recinto.direccion %></td>
    <td><%= link_to 'Show', recinto %></td>
    <td><%= link_to 'Edit', edit_recinto_path(recinto) %></td>
    <td><%= link_to 'Destroy', recinto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recinto', new_recinto_path %>
