<table>
  <tr>
    <th>Comercios</th>
  </tr>
  <% if @comercios.any? %>
  <% @comercios.each do |comercio| %>
      <tr>
        <td><%= comercio.nombre %></td>
        <td><%= comercio.direccion %></td>
        <td><%= comercio.logo %></td>
        <td><%= link_to 'Show', comercio %></td>
      </tr>
  <% end %>
  <% end %>
</table>

<%= gmaps4rails(@json) %>